<app-header></app-header>

<div class="container">
    <div class="product" *ngFor="let products of productArray">
        <mat-card>
            <div class="product-image">
                <img [src]="products.image" alt="product image">
            </div>
            <div class="product-info">
                <mat-card-content>
                    <p>{{products.title}}</p>
                    <div class="rating-price" >
                        <ngb-rating [readonly]="true" [max]=5 [rate]="products.rating.rate"></ngb-rating>
                        <p>$ {{products.price | number: '1.2-2'}}</p>
                    </div>
                    <div class="add-to-cart-btn">
                        <button mat-raised-button color="primary">
                            <mat-icon>shopping_cart</mat-icon>
                            ADD TO CART
                        </button>
                    </div>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>